
CalculateShapeArea/.vs/CalculateShapeArea/v15/.suo
CalculateShapeArea/.vs/CalculateShapeArea/v15/Server/sqlite3/db.lock
CalculateShapeArea/.vs/CalculateShapeArea/v15/Server/sqlite3/storage.ide
CalculateShapeArea/.vs/CalculateShapeArea/v15/Server/sqlite3/storage.ide-shm
CalculateShapeArea/.vs/CalculateShapeArea/v15/Server/sqlite3/storage.ide-wal
CalculateShapeArea/bin/Debug/CalculateShapeArea.dll
CalculateShapeArea/bin/Debug/CalculateShapeArea.pdb
CalculateShapeArea/bin/Debug/CalculateShapeArea.xml
CalculateShapeArea/obj/Debug/CalculateShapeArea.dll
CalculateShapeArea/obj/Debug/CalculateShapeArea.pdb
CalculateShapeArea/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculateShapeArea/obj/Debug/CalculateShapeArea.csproj.CoreCompileInputs.cache
CalculateShapeArea/obj/Debug/CalculateShapeArea.csproj.FileListAbsolute.txt
CalculateShapeArea/obj/Debug/CalculateShapeArea.csprojResolveAssemblyReference.cache
CalculateShapeArea/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculateShapeArea/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculateShapeArea/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalculateShapeAreaTests/bin/Debug/CalculateShapeArea.dll
CalculateShapeAreaTests/bin/Debug/CalculateShapeArea.pdb
CalculateShapeAreaTests/bin/Debug/CalculateShapeArea.xml
CalculateShapeAreaTests/bin/Debug/CalculateShapeAreaTests.dll
CalculateShapeAreaTests/bin/Debug/CalculateShapeAreaTests.pdb
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
CalculateShapeAreaTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.csproj.CopyComplete
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.csproj.CoreCompileInputs.cache
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.csproj.FileListAbsolute.txt
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.csprojResolveAssemblyReference.cache
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.dll
CalculateShapeAreaTests/obj/Debug/CalculateShapeAreaTests.pdb
CalculateShapeAreaTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalculateShapeAreaTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalculateShapeAreaTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalculateShapeAreaTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
